<section>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" class="space-y-4 p-8 w-full max-w-md mx-auto">
      <!-- Mensagem de redefinição de senha -->
      <h2 class="mt-4 text-[2rem] text-black font-bold text-start">Esqueceu sua senha?</h2>
      <p class="text-gray-600 text-start">Para cadastrar sua nova senha, insira o token que você recebeu por email:</p>
      
      <!-- Campo de entrada de token -->
      <div class="relative">
        <label for="token" class="block text-sm text-black text-gray-700">Código de Verificação:</label>
        <input type="text" id="token" formControlName="token" required
          class="mt-1 block w-full px-3 py-2 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm pl-10 bg-[#F5F5F5]">
        
        <mat-error class="text-sm text-red"
          *ngIf="resetPasswordForm.get('token')?.touched && resetPasswordForm.get('token')?.hasError('required')">Código é
          obrigatório</mat-error>
      </div>
  
      <!-- Campo de entrada de nova senha -->
      <div class="relative">
        <label for="newPassword" class="block text-sm text-black text-gray-700">Nova Senha:</label>
        <input type="password" id="newPassword" formControlName="newPassword" required
          class="mt-1 block w-full px-3 py-2 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm pl-10 bg-[#F5F5F5]">
        <span class="material-icons absolute left-3 top-8 text-[#F0BF4E]">lock</span>
        <mat-error class="text-sm text-red"
          *ngIf="resetPasswordForm.get('newPassword')?.touched && resetPasswordForm.get('newPassword')?.hasError('required')">Senha é
          obrigatória</mat-error>
        <mat-error class="text-sm text-red"
          *ngIf="resetPasswordForm.get('newPassword')?.touched && resetPasswordForm.get('newPassword')?.hasError('minlength')">Senha
          deve ter no mínimo 6 caracteres</mat-error>
      </div>
  
      <!-- Campo de entrada de confirmação de senha -->
      <div class="relative">
        <label for="confirmPassword" class="block text-sm text-black text-gray-700">Confirmar Senha:</label>
        <input type="password" id="confirmPassword" formControlName="confirmPassword" required
          class="mt-1 block w-full px-3 py-2 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm pl-10 bg-[#F5F5F5]">
        <span class="material-icons absolute left-3 top-8 text-[#F0BF4E]">lock</span>
        <mat-error class="text-sm text-red"
          *ngIf="resetPasswordForm.get('confirmPassword')?.touched && resetPasswordForm.get('confirmPassword')?.hasError('required')">Confirmação de senha é
          obrigatória</mat-error>
        <mat-error class="text-sm text-red"
          *ngIf="resetPasswordForm.get('confirmPassword')?.touched && resetPasswordForm.get('confirmPassword')?.value !== resetPasswordForm.get('newPassword')?.value">As senhas não coincidem</mat-error>
      </div>
  
      <!-- Botão de submissão -->
      <button type="submit" [disabled]="resetPasswordForm.invalid"
        class="w-full bg-[#F0BF4E] font-bold text-black py-2 px-4 rounded-md uppercase">Confirmar</button>
    </form>
  </section>