<!-- Componente de Cabeçalho da Página -->
<div class="flex justify-between p-4">
    <app-header-page subtitle="Dashboard" title="Dashboard">
    </app-header-page>

    <app-header-profile></app-header-profile>
</div>

<!-- Cards -->
<div class="grid grid-cols-1 md:grid-cols-3 gap-4 m-5">
    <!-- Card 1 -->
    <div class="bg-white rounded-lg shadow-lg p-8">
        <div class="text-gray-800 flex justify-between items-center">
            <p class="text-[2rem] font-bold">R$ 3.000.000,00</p>
            <div class="flex items-center">
                <mat-icon class="text-[#10B69D] ml-1">arrow_upward</mat-icon>
                <p class="text-[#10B69D] font-bold">50,2%</p>
            </div>
        </div>
        <span class="text-sm font-medium text-[#8598AD]">Faturamento vendas</span>
        <div class="flex justify-end">
            <div class="w-12 h-12 bg-[#10B69D] rounded-full flex items-center justify-center">
                <mat-icon class="text-white">attach_money</mat-icon>
            </div>
        </div>
    </div>

    <!-- Card 2 -->
    <div class="bg-white rounded-lg shadow-lg p-8">
        <div class="text-gray-800 flex justify-between items-center">
            <p class="text-[2rem] font-bold">R$ 3.000.000,00</p>
            <div class="flex items-center">
                <mat-icon class="text-[#EF627A] ml-1">arrow_downward</mat-icon>
                <p class="text-[#EF627A] font-bold">50,2%</p>
            </div>
        </div>
        <span class="text-sm font-medium text-[#8598AD]">Faturamento consultas</span>
        <div class="flex justify-end">
            <div class="w-12 h-12 bg-[#10B670] rounded-full flex items-center justify-center">
                <mat-icon class="text-white">calendar_today</mat-icon>
            </div>
        </div>
    </div>

    <!-- Card 3 -->
    <div class="bg-white rounded-lg shadow-lg p-8">
        <div class="text-gray-800 flex justify-between items-center">
            <p class="text-[2rem] font-bold">83.706</p>
            <div class="flex items-center">
                <mat-icon class="text-[#EF627A] ml-1">arrow_downward</mat-icon>
                <p class="text-[#EF627A] font-bold">50,2%</p>
            </div>
        </div>
        <span class="text-sm font-medium text-[#8598AD]">Usuários</span>
        <div class="flex justify-end">
            <div class="w-12 h-12 bg-[#1098B6] rounded-full flex items-center justify-center">
                <mat-icon class="text-white">person</mat-icon>
            </div>
        </div>
    </div>
</div>

<!-- Conteúdo -->
<div class="flex flex-col lg:flex-row w-full justify-between">
    <!-- Gráficos -->
    <div class="flex flex-col w-full lg:w-[75%]">
        <!-- Gráfico 1 -->
        <div class="bg-white rounded-lg shadow-lg m-5 p-5">
            <div class="text-xl text-[#8598AD] mb-4">
                Novos usuários x vendas
            </div>
            <div id="chart">
                <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [xaxis]="chartOptions.xaxis"
                    [dataLabels]="chartOptions.dataLabels" [plotOptions]="chartOptions.plotOptions"
                    [colors]="chartOptions.colors">
                </apx-chart>
            </div>
        </div>
        <!-- Gráficos 2 e 3 -->
        <div class="flex flex-col lg:flex-row">
            <div class="bg-white rounded-lg shadow-lg m-5 p-5 w-full lg:w-1/2">
                <div class="text-xl text-[#8598AD] mb-4">
                    Produto Faturamento
                </div>
                <div id="pie-chart1" class="w-full">
                    <apx-chart [series]="pieChartOptions1.series" [chart]="pieChartOptions1.chart"
                        [labels]="pieChartOptions1.labels" [colors]="pieChartOptions1.colors"
                        [responsive]="pieChartOptions1.responsive">
                    </apx-chart>
                </div>
            </div>
            <div class="bg-white rounded-lg shadow-lg m-5 p-5 w-full lg:w-1/2">
                <div class="text-xl text-[#8598AD] mb-4">
                    Categorias Quantidade
                </div>
                <div id="pie-chart2" class="w-full">
                    <apx-chart [series]="pieChartOptions2.series" [chart]="pieChartOptions2.chart"
                        [labels]="pieChartOptions2.labels" [colors]="pieChartOptions2.colors"
                        [responsive]="pieChartOptions2.responsive">
                    </apx-chart>
                </div>
            </div>
        </div>
    </div>
    <!-- Parceiros -->
    <div class="bg-white rounded-lg shadow-lg m-5 p-4 w-full lg:w-[25%] h-[925px] overflow-y-auto">
        <div class="text-xl text-[#8598AD] mb-4">
            Últimos pedidos
        </div>
        @for (item of items; track $index) {
        <div class="relative bg-white rounded-lg shadow-lg p-5 mb-4 flex items-center">
            <div class="w-12 h-12 bg-gray-400 rounded-full mr-4 flex items-center justify-center">
                <mat-icon class="text-white">description</mat-icon>
            </div>
            <div>
                <h2 class="text-lg font-bold">#0120120D</h2>
                <p class="text-sm text-gray-600">Nome do cliente</p>
                <span class="text-sm text-gray-600">00/00/00</span>
            </div>
            <span
                class="absolute top-2 right-2 bg-[#D9BB8D] text-[#38383A] text-xs font-bold py-1 px-2 rounded">Pendente</span>
        </div>
        }
    </div>
</div>