<section>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()" class="space-y-4 p-8 w-full max-w-md mx-auto">
      <!-- Mensagem de recuperação de senha -->
      <h2 class="mt-4 text-[2rem] text-black font-bold text-start">Esqueceu sua senha?</h2>
      <p class="text-gray-600 text-start">Digite seu e-mail para que possamos enviar um código de verificação:</p>
      
      <!-- Campo de entrada de email -->
      <div class="relative">
        <label for="email" class="block text-sm text-black text-gray-700">Email:</label>
        <input type="email" id="email" formControlName="email" required
          class="mt-1 block w-full px-3 py-2 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm pl-10 bg-[#F5F5F5]">
        <span class="material-icons absolute left-3 top-8 text-[#F0BF4E]">person</span>
        <mat-error class="text-sm text-red"
          *ngIf="forgotPasswordForm.get('email')?.touched && forgotPasswordForm.get('email')?.hasError('required')">Email é
          obrigatório</mat-error>
        <mat-error class="text-sm text-red"
          *ngIf="forgotPasswordForm.get('email')?.touched && forgotPasswordForm.get('email')?.hasError('email')">Email
          inválido</mat-error>
      </div>
  
      <!-- Botão de submissão -->
      <button type="submit" [disabled]="forgotPasswordForm.invalid"
        class="w-full bg-[#F0BF4E] font-bold text-black py-2 px-4 rounded-md uppercase">Continuar</button>
    </form>
  </section>