<!-- Componente de Cabeçalho da Página -->
<div class="flex justify-between p-4">
  <app-header-page subtitle="Produtos" title="Detalhes do produto">
  </app-header-page>

  <app-header-profile></app-header-profile>
</div>

<div class="p-4">
  <div class="grid grid-cols-1 md:grid-cols-10 gap-4 mb-4">
    <div class="bg-white shadow-lg rounded-lg p-6 col-span-3">
      <!-- Conteúdo do primeiro card (Carrossel) -->
      <div class="relative">
        <!-- Slides -->
        <div class="carousel">
          <div class="carousel-item active">
            <img
              src="https://cdn.awsli.com.br/600x450/1953/1953797/produto/15632326761250bf87b.jpg"
              alt="Slide 1"
              class="w-full rounded-lg"
            />
          </div>
          <div class="carousel-item">
            <img
              src="https://m.media-amazon.com/images/I/41518AMYoiL._AC_SY1000_.jpg"
              alt="Slide 2"
              class="w-full rounded-lg"
            />
          </div>
          <div class="carousel-item">
            <img
              src="https://dcdn.mitiendanube.com/stores/381/111/products/branca-lisa-bermuda-bege2-5f0c14ad2594e6639b16923849017721-1024-1024.png"
              alt="Slide 3"
              class="w-full rounded-lg"
            />
          </div>
        </div>
        <!-- Bolinhas de navegação -->
        <div
          class="absolute bottom-0 left-0 right-0 flex justify-center space-x-2 p-2"
        >
          <button
            class="w-3 h-3 bg-gray-400 rounded-full"
            (click)="goToSlide(0)"
          ></button>
          <button
            class="w-3 h-3 bg-gray-400 rounded-full"
            (click)="goToSlide(1)"
          ></button>
          <button
            class="w-3 h-3 bg-gray-400 rounded-full"
            (click)="goToSlide(2)"
          ></button>
        </div>
      </div>
    </div>

    <div class="bg-white shadow-lg rounded-lg p-6 col-span-7">
      <!-- Conteúdo do segundo card -->
      <div class="flex justify-between items-start mb-4">
        <h3 class="text-lg font-semibold mb-2">Dados do Produto</h3>
        <div class="flex space-x-2">
          <button mat-icon-button>
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon>edit</mat-icon>
          </button>
          <mat-slide-toggle></mat-slide-toggle>
        </div>
      </div>
      <!-- Primeira linha de dados -->
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-4">
        <div>
          <p class="text-gray-600 font-bold">Nome</p>
          <p>Nome do Produto</p>
        </div>
        <div>
          <p class="text-gray-600 font-bold">Categoria</p>
          <p>Categoria do Produto</p>
        </div>
      </div>
      <!-- Segunda linha de dados -->
      <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
        <div>
          <p class="text-gray-600 font-bold">Valor</p>
          <p>R$ 50,00</p>
        </div>
        <div>
          <p class="text-gray-600 font-bold">Valor Promocional</p>
          <p>R$ 45,00</p>
        </div>
        <div>
          <p class="text-gray-600 font-bold">Quantidade</p>
          <p>100</p>
        </div>
      </div>
    </div>
  </div>

  <div class="grid grid-cols-1 gap-4 mb-4">
    <div class="bg-white shadow-md rounded-lg p-6">
      <!-- Conteúdo do terceiro card -->
      <h3 class="text-lg font-semibold mb-2">Descrição</h3>
      <p>
        Este produto é fabricado com materiais de alta qualidade, garantindo
        durabilidade e resistência. Ideal para uso diário, ele oferece conforto
        e praticidade. Com um design moderno e elegante, é perfeito para
        qualquer ocasião. Disponível em várias cores e tamanhos, atende às
        necessidades de todos os clientes. Aproveite a promoção especial e
        adquira este produto com um desconto exclusivo. Não perca a oportunidade
        de ter um item de excelente qualidade por um preço acessível.
      </p>
    </div>
  </div>

  <div class="grid grid-cols-1 gap-4">
    <div class="bg-white shadow-md rounded-lg p-6">
      <h3 class="text-lg font-semibold mb-2">Variações</h3>
      <div class="flex gap-2">
        <!-- Cardinho 1 -->
        <div class="shadow-sm rounded-lg p-4">
          <div class="w-full h-24 bg-gray-300 rounded-lg mb-2 mx-auto"></div>
          <p class="text-center font-semibold">Produto 1</p>
          <p class="text-center text-gray-600">R$ 50,00</p>
          <p class="text-center text-red-600">R$ 45,00</p>
        </div>
        <!-- Cardinho 2 -->
        <div class="shadow-sm rounded-lg p-4">
          <div class="w-full h-24 bg-gray-300 rounded-lg mb-2 mx-auto"></div>
          <p class="text-center font-semibold">Produto 2</p>
          <p class="text-center text-gray-600">R$ 60,00</p>
          <p class="text-center text-red-600">R$ 55,00</p>
        </div>
        <!-- Cardinho 3 -->
        <div class="shadow-sm rounded-lg p-4">
          <div class="w-full h-24 bg-gray-300 rounded-lg mb-2 mx-auto"></div>
          <p class="text-center font-semibold">Produto 3</p>
          <p class="text-center text-gray-600">R$ 70,00</p>
          <p class="text-center text-red-600">R$ 65,00</p>
        </div>
        <!-- Adicione mais cardinhos conforme necessário -->
      </div>
    </div>
  </div>
</div>
