<!-- Componente de Cabeçalho da Página -->
<div class="flex justify-between p-4">
    <app-header-page subtitle="Usuários" title="Detalhes Usuário">
    </app-header-page>

    <app-header-profile></app-header-profile>

</div>

<!-- Componente de Card com detalhes do usuário -->
<app-card-details [data]="data"></app-card-details>

<!-- Componente de Tabs -->
<div class="flex gap-4 mt-8">
    <!-- Aba Financeiro -->
    <h1 class="text-2xl cursor-pointer" [ngClass]="{'font-bold': tabSelected === 'financeiro'}"
        (click)="tabSelected = 'financeiro'">Financeiro</h1>

    <!-- Aba Pedidos -->
    <h1 class="text-2xl cursor-pointer" [ngClass]="{'font-bold': tabSelected === 'pedidos'}"
        (click)="tabSelected = 'pedidos'">Pedidos</h1>

    <!-- Aba Estilo -->
    <h1 class="text-2xl cursor-pointer" [ngClass]="{'font-bold': tabSelected === 'estilo'}"
        (click)="tabSelected = 'estilo'">Estilo</h1>
</div>

<!-- Conteúdo das Tabs -->
@switch (tabSelected) {

@case ('pedidos') {
<app-common-table [columns]="pedidosColumns" [data]="pedidosData" [showSearch]="false"></app-common-table>
}
@case ('financeiro') {
<!-- Conteúdo da aba Financeiro -->
<app-common-table [columns]="financeColumns" [data]="financeData" [showSearch]="false"></app-common-table>
}
@case ('estilo') {
    <div class="bg-white rounded-lg shadow-lg p-8 m-5">
        <div class="flex justify-between">
            <h2 class="text-2xl font-bold mb-4">Perfil do cliente</h2>
            <p class="text-black underline cursor-pointer">Ver mais</p>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
          <!-- Primeira linha -->
          <div class="p-4 rounded-md">
            <h3 class="text-lg font-semibold">Objetivos</h3>
            <div class="flex gap-2">
              <p class="bg-[#D1D98D40] rounded px-3">Sair a noite</p>
              <p class="bg-[#D1D98D40] rounded px-3">Trabalha</p>
              <p class="bg-[#D1D98D40] rounded px-3">Trabalha</p>
            </div>
          </div>
          <div class="p-4 rounded-md">
            <h3 class="text-lg font-semibold">Preferências</h3>
            <div class="flex gap-2">
              <p class="bg-[#D1D98D40] rounded px-3">Sair a noite</p>
              <p class="bg-[#D1D98D40] rounded px-3">Trabalha</p>
              <p class="bg-[#D1D98D40] rounded px-3">Trabalha</p>
            </div>
          </div>
          <div class="p-4 rounded-md">
            <h3 class="text-lg font-semibold">Seu estilo</h3>
            <div class="flex gap-2">
              <p class="bg-[#D1D98D40] rounded px-3">Sair a noite</p>
              <p class="bg-[#D1D98D40] rounded px-3">Trabalha</p>
              <p class="bg-[#D1D98D40] rounded px-3">Trabalha</p>
            </div>
          </div>
      
          <!-- Segunda linha -->
          <div class="p-4 rounded-md">
            <h3 class="text-lg font-semibold">Seu corpo</h3>
            <div class="flex gap-2">
              <p class="bg-[#D1D98D40] rounded px-3">Sair a noite</p>
              <p class="bg-[#D1D98D40] rounded px-3">Trabalha</p>
              <p class="bg-[#D1D98D40] rounded px-3">Trabalha</p>
            </div>
          </div>
          <div class="p-4 rounded-md">
            <h3 class="text-lg font-semibold">Tamanhos</h3>
            <div class="flex gap-2">
              <p class="bg-[#D1D98D40] rounded px-3">Sair a noite</p>
              <p class="bg-[#D1D98D40] rounded px-3">Trabalha</p>
              <p class="bg-[#D1D98D40] rounded px-3">Trabalha</p>
            </div>
          </div>
          <div class="p-4 rounded-md">
            <h3 class="text-lg font-semibold">Medidas</h3>
            <div class="flex gap-2">
              <p class="bg-[#D1D98D40] rounded px-3">Sair a noite</p>
              <p class="bg-[#D1D98D40] rounded px-3">Trabalha</p>
              <p class="bg-[#D1D98D40] rounded px-3">Trabalha</p>
            </div>
          </div>
      
          <!-- Terceira linha -->
          <div class="p-4 rounded-md">
            <h3 class="text-lg font-semibold">O que não gostaria</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                Lorem Ipsum has been the industry's standard dummy</p>
          </div>
          <div class="p-4 rounded-md">
            <h3 class="text-lg font-semibold">O que tem necessidade</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                Lorem Ipsum has been the industry's standard dummy</p>
          </div>
        </div>
      </div>
}
}