<section class="grid grid-cols-1 md:grid-cols-2 h-screen overflow-hidden">
  <div class="formOutlet flex flex-col items-center justify-center p-4 md:p-8 lg:p-12">
    <img class="logotipo mb-5 w-1/2 md:w-1/3 lg:w-1/4" src="assets/img/logo.png" alt="Logotipo" />
    <div class="w-full md:w-2/3 lg:w-1/2">
      <router-outlet (activate)="onActivate($event)"></router-outlet>
    </div>
  </div>
  <div class="hidden md:flex items-center justify-center bg-[#F2F2F2] h-full">
    <img class="w-full h-full object-cover" [src]="backgroundImage" alt="Background Image" />
  </div>
</section>